<a href="https://colab.research.google.com/github/voknerog/pandas_numpy_matplotlib/blob/main/pandas_excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. Import pandas under the alias pd.

In [185]:
import pandas as pd

#### 2. Print the version of pandas that has been imported.

In [186]:
pd.__version__

'1.3.5'

#### 3. Print out all the version information of the libraries that are required by the pandas library.

In [187]:
# pd.show_versions()

In [188]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 4. Create a DataFrame df from this dictionary data which has the index labels.

In [189]:
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 5. Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame).

In [190]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

#### 6. Return the first 3 rows of the DataFrame df.

In [191]:
df[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

#### 7. Select just the 'animal' and 'age' columns from the DataFrame df.

In [192]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### 8. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [193]:
df[['animal', 'age']].iloc[[3, 4, 8]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

#### 9. Select only the rows where the number of visits is greater than 3.

In [194]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

#### 10. Select the rows where the age is missing, i.e. it is NaN.

In [195]:
df[df['age'].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### 11. Select the rows where the animal is a cat and the age is less than 3.

In [196]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

#### 12. Select the rows the age is between 2 and 4 (inclusive).

In [197]:
df[df.age.between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

13. Change the age in row 'f' to 1.5.

In [198]:
df.loc[['f'],['age']] = 1.5

#### 14. Calculate the sum of all visits in df (i.e. find the total number of visits).

In [199]:
df.visits.sum()

19

#### 15. Calculate the mean age for each different animal in df.

In [200]:
df.groupby('animal', as_index=False).agg({'age':'mean'})

  animal       age
0    cat  2.333333
1    dog  5.000000
2  snake  2.500000

#### 16. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [201]:
df.loc['k'] = ['mouse', 1, 2, 'no']
df = df.drop('k')
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 17. Count the number of each type of animal in df.

In [202]:
df.animal.value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

#### 18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order (so row i should be first, and row d should be last).

In [203]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

#### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [204]:
df['priority'] = df['priority'].map({'yes':True, 'no':False})
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

#### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [205]:
df['animal'] = df['animal'].replace('snake', 'python')
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False